PORT=3333
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/atrio_rh?schema=public"
JWT_SECRET="super-secret-jwt-key-change-in-production"
TIMEZONE="America/Sao_Paulo"
